html {
  font-family: "Lato", sans-serif;
}

.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#disqus_thread {
  padding-top: 1.5em;
}

.search-form {
  padding-bottom: 0.6em;
}

.search-input {
  border: none;
  background-color: #191818;
  width: 70%;
  padding: 0 0 0 0;
  color: #fff;
}

.search-icon {
  margin: 0 0 0 0;
  padding-left: 0.6em;
}

#menu .pure-menu ul.search-container {
  border-top: 0;
}

input:focus {
  outline: none;
}

.gsc-adBlock {
  display: none !important;
}

.gsc-control-cse {
  width: auto !important;
  padding: 0px !important;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.2em 0;
  margin-left: -0.1em;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

.search-title, .search-summary, .search-link {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.search-summary {
  margin-top: -10px;
}