</div>
</div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>

{{ partial "google_analytics.html" . }}

<script type="text/javascript">
$('iframe .privacy').css('display','none');
$('#dsq-app4').contents().find('.privacy').hide();
$('.dsq-app4').contents().find('.privacy').hide();
$('#dsq-app1').contents().find('.privacy').hide();
$('.dsq-app1').contents().find('.privacy').hide();
$('#dsq-app').contents().find('.privacy').hide();
$('.dsq-app').contents().find('.privacy').hide();
$('#dsq-frame').contents().find('.privacy').hide();
$('.dsq-frame').contents().find('.privacy').hide();
</script>

</body>
</html>
