{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<hr>
<div class="content">
  {{ if .Site.Params.google_cse }}
  	  <div class="content-body">
		  A lot of ad/tracker blockers like Ghostery are blocking Google Custom Search Engine. Allow Google AJAX Search API to show your search results.
	  </div>
	  <gcse:searchresults-only linktarget="_parent"></gcse:searchresults-only>
  {{ end }}

  {{ if .Site.Params.tapir_token }}
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/jquery-tapir.js"></script>
	  <div id="search-results"></div>
	  <script type="text/javascript">
		$('#search-results').tapir({'token': '{{ .Site.Params.tapir_token }}'});
	  </script>
	  <noscript><h3>Please enable JavaScript to view search result(s).</h3></noscript>
  {{ end }}

  {{ if .Site.Params.search_lunr }}
  	   <div id="search-results"></div>
  	   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.7.2/lunr.min.js"></script>
       <script type="text/javascript" src="/js/search-lunr.js"></script>
       <noscript><h3>Please enable JavaScript to view search result(s).</h3></noscript>
  {{ end }}
</div>

{{ partial "footer.html" . }}